version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: rpi_postgres_server
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - rfid_net
  pgadmin:
    image: dpage/pgadmin4
    container_name: rpi_pgadmin_interface
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - rfid_net
    depends_on:
      - postgres

networks:
  rfid_net:
    driver: bridge

volumes:
  postgres_data:
  pgadmin_data: